
body{    
    background:rgb(14, 204, 87); 
    font-family: 'Droid Sans', sans-serif;
    line-height: 1;
    font-size: 16px; 
    text-align:center;
    }

    form.textarea.input {
    width: 500px;
    margin: 200px auto;
    text-align: center;
    overflow: hidden;    
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

article {
    background:transparent;
    color: #fcfcfc;
   

  display: block;
}